#canvas {
    background-color: black;
    height: 700px;
    width: 900px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

/* #canvas2 {
    display: block;
    background-color: red;
    height: 700px;
    width: 900px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

body {
    background: url("../src/images/asteroidStart.jpg");
    /* background-color: red; */
    /* overflow: hidden; */
}

#introduction {
    /* display: flex; */
    /* height: 100%;
    width: 60%; */
    /* margin: 0 auto; */
    /* background: url("../src/images/asteroidStart.jpg"); */
    /* position: absolute;
    height: -7000px;
    width: 900px; 
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px; */

    background-color: black;
    height: 700px;
    width: 900px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: hidden;
    
}

#scroll {
    color: yellow;
    text-align: justify;
    height: 700px;
    width: 850px;
    margin-left: 25px;
    font-size: 22px;
    line-height: 1.5;
    font-weight: bold;
    position: absolute;
    animation: scroll 70s linear forwards;
}

@keyframes scroll {
    from {
       top: 700px;
    }

    to {
        top: -7500px;
    }
}

#startGame {
    /* background: url("../src/images/asteroidStart.jpg"); */
    background-color: black;
    color: blue;
    position: absolute;
    height: 700px;
    width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    font-size: 50px;
    /* display: none; */
}


#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid red;
    height: 100px;
    width: 300px;
    border-radius: 20px;
    font-size: 25px;
    background-color: lightgray;
    color: red;
    display: none;
}

#startTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    text-align: center;
    display: block;
    color: rgb(0, 255, 102);
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
}

#count {
    color: yellow;
    font-size: 30px;
    position: absolute;
    top: 77%;
    left: 72%;
    display: none;
}

#gameOver {
    background-color: lightgreen;
    color: black;
    position: absolute;
    height: 700px;
    width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    font-size: 50px;
    display: none;
}
