#canvas {
    background-color: black;
    height: 700px;
    width: 900px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    box-shadow: rgba(255, 255, 255, 0.229) 0px 10px 15px;
}

body {
    background-image: url("../src/images/asteroidStart.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#introduction {
    background-color: black;
    height: 700px;
    width: 900px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: hidden;
    box-shadow: rgba(255, 255, 255, 0.229) 0px 10px 15px;
    font-family: 'Orbitron', sans-serif;
}

#scroll {
    color: red;
    text-align: justify;
    height: 700px;
    width: 850px;
    margin-left: 25px;
    font-size: 22px;
    line-height: 1.5;
    position: absolute;
    animation: scroll 195s linear forwards;
}

@keyframes scroll {
    from {
        top: 700px;
    }

    to {
        top: -7500px;
    }
}

#instructions {
    background-color: rgba(1, 1, 1, 0.5);
    border-radius: 20px;
    height: 300px;
    width: 300px;
    margin-left: 20px;
    margin-top: 200px;
    display: none;
    padding: 15px;
    box-shadow: rgba(255, 255, 255, 0.229) 0px 10px 15px;
    display: block;
}

#instructions>h1 {
    color: white;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#instructions>ul>li {
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    overflow-wrap: break-word;
}

#instructionsDropdown {
    display: none;
}

#closeInstructionsButton {
    display: none;
}

#startGame {
    background-color: black;
    position: absolute;
    height: 700px;
    width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    font-size: 50px;
    display: none;
    box-shadow: rgba(255, 255, 255, 0.229) 0px 10px 15px;
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid red;
    height: 100px;
    width: 300px;
    border-radius: 20px;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    background-color: lightgray;
    color: red;
    display: none;
}

#startTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    text-align: center;
    display: block;
    color: red;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
}

#count {
    color: yellow;
    font-size: 30px;
    position: absolute;
    top: 80%;
    left: 63%;
    display: none;
    font-family: 'Orbitron', sans-serif;
}

#pausedText {
    display: none;
    width: 200px;
    height: 100px;
    color: red;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
}

#restartButton {
    display: none;
    width: 200px;
    height: 100px;
    position: absolute;
    top: 60%;
    left: 38%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    color: red;
}

#resumeGameButton {
    display: none;
    width: 200px;
    height: 100px;
    position: absolute;
    top: 60%;
    left: 63%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    color: red;
}

#gameOver {
    /* background: no-repeat url('../src/images/asteroidHitsEarth.gif'); */
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 700px;
    width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    display: none;
    box-shadow: rgba(255, 255, 255, 0.229) 0px 10px 15px;
}

#gameOverText {
    color: red;
    white-space: nowrap;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: blink 2s linear infinite;
}

#gameOverImg {
    /* background: no-repeat url('../src/images/asteroidHitsEarth.gif'); */
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 700px;
    width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    display: none;
    box-shadow: rgba(255, 255, 255, 0.229) 0px 10px 15px;
}

@keyframes blink {

    50% {
        opacity: 0;
    }
}

#playAgainButton {
    position: absolute;
    text-align: center;
    width: 350px;
    height: 100px;
    border-radius: 20px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    color: red;
    background-color: lightgray;
}

#gitHub {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 30px;
    margin: 15px 5px 15px 15px;
}

#linkedIn {
    height: 50px;
    width: 60px;
    padding: 5px;
    margin: 15px 15px 15px 5px;
}

#angelList {
    height: 50px;
    width: 50px;
    padding: 5px;
}

#linkedIn:hover,
#gitHub:hover,
#angelList:hover {
    opacity: 0.5;
}

#logoSection {
    display: flex;
    background-color: white;
    border-radius: 20px;
    height: 8vh;
    width: 17vw;
    max-width: 205px;
    box-shadow: rgba(255, 255, 255, 0.229) 0px 10px 15px;
    margin-left: 80vw;
    justify-content: center;
    align-items: center;
}

@media (max-width: 2150px) {
    #startTitle {
        margin-top: 23px;
        font-size: 70px;
    }
}

@media (max-width: 2000px) {
    #startTitle {
        margin-top: 23px;
        font-size: 70px;
    }
}

@media (max-width: 1900px) {
    #startTitle {
        margin-top: 12px;
        font-size: 70px;
    }
}

@media (max-width: 1800px) {
    #startTitle {
        margin-top: 10px;
        font-size: 65px;
    }
}

@media (max-width: 1650px) {

    #instructionsDropdown {}

    #closeInstructionsButton {}

    #instructions {
        height: 330px;
        width: 230px;
    }

    #instructions>ul>li {
        font-size: 17px;
        margin-left: -1.5vw
    }

    #count {
        font-size: 25px;
        position: absolute;
        top: 80%;
        left: 73%;
    }

    #startTitle {
        margin-top: 8px;
        font-size: 60px;
    }
}

@media (max-width: 1530px) {

    #instructions {
        height: 330px;
        width: 175px;
        margin-left: 0.5vw;
    }

    #instructions>ul>li {
        font-size: 15px;
        margin-left: -1.7vw
    }

    #instructions>h1 {
        font-size: 30px;
        margin-top: -0.5vh;
    }

    #count {
        font-size: 25px;
        left: 76%;
    }

    #logoSection {
        margin-left: 83vw;
    }

    #startTitle {
        margin-top: 7px;
        font-size: 55px;
    }
}

@media (max-width: 1349px) {

    #instructions {
        height: fit-content;
        width: 152px;
        margin-left: 0.5vw;
    }

    #instructions>ul>li {
        font-size: 15px;
        margin-left: -2.5vw
    }

    #instructions>h1 {
        font-size: 30px;
        margin-top: -0.5vh;
    }

    #count {
        font-size: 25px;
        left: 76%;
    }

    #logoSection {
        margin-left: 87vw;
        margin-top: -20vh;
        height: 32vh;
        width: 6.5vw;
        flex-direction: column;
        max-width: 80px;
    }

    #gitHub {
        height: 50px;
        width: 50px;
        margin-left: 0.5vw
    }

    #linkedIn {
        height: 50px;
        width: 60px;
        margin-left: 2vw;
    }

    #angelList {
        height: 50px;
        width: 50px;
        margin-right: -1vw
    }

    #startTitle {
        margin-top: 5px;
        font-size: 50px;
    }
}

@media (max-width: 1300px) {

    #instructions {
        height: fit-content;
        width: 110px;
        margin-left: 0.5vw;
        margin-top: 12vh;
    }

    #instructions>ul>li {
        font-size: 15px;
        margin-left: -2.5vw
    }

    #instructions>h1 {
        font-size: 30px;
        margin-top: -0.5vh;
    }

    #count {
        font-size: 25px;
        left: 76%;
    }

    #logoSection {
        margin-left: 87vw;
        margin-top: -20vh;
        height: 32vh;
        width: 6.5vw;
        flex-direction: column;
        max-width: 80px;
    }

    #gitHub {
        height: 50px;
        width: 50px;
        margin-left: 0.5vw
    }

    #linkedIn {
        height: 50px;
        width: 60px;
        margin-left: 2vw;
    }

    #angelList {
        height: 50px;
        width: 50px;
        margin-right: -1vw
    }

    #startTitle {
        margin-top: 1px;
        font-size: 40px;
    }
}

@media (max-width: 1249px) {

    #instructions {
        height: fit-content;
        width: 77px;
        margin-left: 0vw;
        margin-top: 11.5vh;
    }

    #count {
        left: 83%;
    }

    #logoSection {
        margin-left: 89vw;
        margin-top: -35vh;
        height: 32vh;
        width: 6.5vw;
        flex-direction: column;
        max-width: 80px;
    }

    #gitHub {
        height: 50px;
        width: 50px;
        margin-left: 0.5vw
    }

    #linkedIn {
        height: 50px;
        width: 60px;
        margin-left: 2vw;
    }

    #angelList {
        height: 50px;
        width: 50px;
        margin-right: -1vw
    }

    #startTitle {
        margin-top: 1px;
        font-size: 38px;
    }
}

@media (max-width: 1150px) {

    #instructions {
        height: fit-content;
        width: 70px;
        margin-left: 0vw;
        margin-top: 12vh;
    }

    #count {
        left: 83%;
    }

    #logoSection {
        margin-left: 92.3vw;
        margin-top: -30vh;
        height: 29vh;
        width: 6vw;
        flex-direction: column;
        max-width: 80px;
    }

    #gitHub {
        height: 50px;
        width: 50px;
        margin-left: 0.5vw
    }

    #linkedIn {
        height: 50px;
        width: 60px;
        margin-left: 2vw;
    }

    #angelList {
        height: 50px;
        width: 50px;
        margin-right: -1vw
    }

    #startTitle {
        margin-top: 1px;
        font-size: 30px;
    }
}

@media (max-height: 795px) {
    #startTitle {
        display: none !important;
    }
}


/*
@media (max-width: 1050px) {

    #instructionsDropdown {

    }

    #closeInstructionsButton {}

    #instructions {
    }

    #count {
        left: 83%;
    }

    #logoSection {
        margin-left: 93vw;

        margin-top: 20vh;
        height: 29vh;
        width: 6vw;
        flex-direction: column;
        max-width: 80px;
    }

    #gitHub {
        height: 50px;
        width: 50px;
        margin-left: 0.5vw
    }

    #linkedIn {
        height: 50px;
        width: 60px;
        margin-left: 2vw;
    }

    #angelList {
        height: 50px;
        width: 50px;
        margin-right: -1vw
    }

    #startTitle {
        margin-top: 1px;
        font-size: 30px;
    }
} */

/* @media (max-width: 999px) {

    #instructionsDropdown {
        display: block;
    }

    #closeInstructionsButton {}

    #instructions {
        display: none;
    }

    #count {
        left: 84%;
    }

    #logoSection {
        margin-left: 3%;
        margin-bottom: 50px;
        height: 23vh;
        width: 6.5vw;
        flex-direction: column;
        max-width: 80px;
    }

    #gitHub {
        height: 50px;
        width: 50px;
        margin-left: 0.5vw
    }

    #linkedIn {
        height: 50px;
        width: 60px;
        margin-left: 2vw;
    }

    #angelList {
        height: 50px;
        width: 50px;
        margin-right: -1vw
    }


    #startTitle {
        margin-top: 15px;
        font-size: 30px;
    }
} */


/* @media (max-height: 1200px) and (max-width: 1650px) {

    #logoSection {
        margin-left: 3%;
        margin-bottom: 200px
    }

    #instructions {
        height: 380px;
        width: 270px;
        margin-left: 165px;
        margin-top: 300px;
        padding: 15px;
        top: auto;
        left: auto;
        display: block;
    }

    #count {
        font-size: 30px;
        position: absolute;
        top: 80%;
        left: 63%;
    }
}

@media (max-height: 1200px) and (max-width: 1560px) {

    #logoSection {
        margin-left: 3%;
        margin-bottom: 200px;
        bottom: 6%;
    }

    #instructions {
        height: 430px;
        width: 240px;
        margin-left: 165px;
        margin-top: 330px;
        padding: 15px;
        top: auto;
        left: auto;
        display: block;
    }

    #count {
        font-size: 30px;
        position: absolute;
        top: 80%;
        left: 63%;
    }
}


@media (max-height: 1050px) and (max-width: 1560px) {

    #logoSection {
        margin-left: 3%;
        margin-bottom: 110px;
        bottom: 10%;
    }

    #instructions {
        height: 430px;
        width: 240px;
        margin-left: 165px;
        margin-top: 300px;
        padding: 15px;
        top: auto;
        left: auto;
        display: block;
    }

    #count {
        font-size: 30px;
        position: absolute;
        top: 80%;
        left: 63%;
    }

    #startTitle {
        margin-top: 60px !important;
        font-size: 50px !important;
    }
}

@media (max-height: 940px) and (max-width: 1560px) {

    #logoSection {
        margin-left: 3%;
        margin-bottom: 50px;
        bottom: 8%;
    }

    #instructions {
        height: 430px;
        width: 240px;
        margin-left: 165px;
        margin-top: 300px;
        padding: 15px;
        top: auto;
        left: auto;
        display: block;
    }

    #count {
        font-size: 30px;
        position: absolute;
        top: 80%;
        left: 63%;
    }

    #startTitle {
        font-size: 43px !important;
        margin-top: 50px !important;
    }
}

@media (max-height: 900px) and (max-width: 1560px) {

    #logoSection {
        margin-left: 3%;
        margin-bottom: 50px;
        bottom: 5%;
        height: 25vh;
    }

    #gitHub {
        height: 50px;
        width: 50px;
        margin-left: 0.5vw;
        margin-bottom: -1vh;
    }

    #linkedIn {
        height: 50px;
        width: 60px;
        margin-left: 2vw;
        margin-bottom: -0.5vh;
    }

    #angelList {
        height: 50px;
        width: 50px;
        margin-right: -1.5vw;
    }

    #instructions {
        height: 430px;
        width: 235px;
        margin-left: 150px;
        margin-top: 300px;
        padding: 15px;
        top: auto;
        left: auto;
        display: block;
    }

    #instructions>ul>li {
        margin-left: -1.5vw;
    }

    #count {
        font-size: 30px;
        position: absolute;
        top: 80%;
        left: 63%;
    }

    #startTitle {
        font-size: 38px !important;
        margin-top: 33px !important;
    }
}

@media (max-height: 850px) and (max-width: 1560px) {

    #instructionsDropdown {
        display: block;
        margin-left: 3vw;
        margin-top: 5vh;
    }

    #instructions {
        height: 430px;
        width: 240px;
        margin-left: 165px;
        margin-top: 300px;
        padding: 15px;
        top: auto;
        left: auto;
        display: none;
    }

    #count {
        font-size: 30px;
        position: absolute;
        top: 80%;
        left: 63%;
    }

    #startTitle {
        font-size: 35px !important;
        margin-top: 10px !important;
    }

    #logoSection {
        margin-left: 3%;
        margin-bottom: 50px;
        height: 25vh;
        width: 6.5vw;
        flex-direction: column;
        max-width: 80px;
    }

    #gitHub {
        height: 50px;
        width: 50px;
        margin-left: 0.5vw;
        margin-bottom: -1vh;
    }

    #linkedIn {
        height: 50px;
        width: 60px;
        margin-left: 2vw;
        margin-bottom: -0.5vh;
    }

    #angelList {
        height: 50px;
        width: 50px;
        margin-right: -1.5vw;
    }
}

@media (max-height: 1000px) and (max-width: 1700px) {
    #startTitle {
        font-size: 60px;
        margin-top: 40px;
    }

    #logoSection {
        margin-bottom: 8vh;
    }
}

@media (max-height: 1050px) and (max-width: 2100px) {
    #startTitle {
        font-size: 60px;
        margin-top: 40px;
    }
} */
